auto-save-list/
elpa/
recentf
projectile-bookmarks.eld
eshell/
.saves/
*.dat
bookmarks
network-security.data
*~

games/
/ido.last
/.DS_Store

/notes
org-clock-save.el
*.db
*.org-id-locations
*cache/
projects
history
